
.Settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100dvh - 87px - 87px);
    gap: 14px;
}
.Settings > h5 > span {
    background-color: #b6b6b6;
    border-radius: 4px;
    padding: 4px;
}